body
{
	background-color: #232323;
	margin:0px;
	color: white;
	text-align: center;
	



}
.square
{
	
	width:30%;
	float: left;
	margin:1.66%;
	background-color: purple;
	padding-bottom: 25%;
	border-radius: 50%;
	transition: background 0.6s;
	-webkit-transition:background 0.6s;
	-moz-transition:background 0.6s;
	transition: all 0.6s;
	
}
	.square:hover{
      box-shadow: 0 12px 16px 0 pink, 0 17px 50px 0 green;
     
     size: 100%;
     transform: scale(1.5);

  
}


#container
{
	margin:20px auto ;
	max-width: 600px;

}
h1{
	color: white;
	text-align: center;
	background-color: #ff9933;
	margin: 0px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding:20px 0px;
}

#message
{
	display:inline-block;
	width:20%;

}
#stripe
{
	background-color: white;
	text-align: center;
	height: 30px;
	color:black;
}
.selected
{
	background-color: #ff9933;
	color:white;

}
#displaycolor
{
	font-size: 200%;
	
}
	

button
{
	border:none;
	background:none;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 100%;
	font-weight: 700px;
	color:#ff9933;
	outline: none;
	font-size: inherit;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;;
	-moz-transition:all 0.4s;;
}
button:hover
{
	color: white;
	background-color: #ff9933;
}


		


